To begin, we need to  do the necessary imports and read in the two csv files.

In [1]:
import pandas as pd
import sqlite3 as sql

dfComposite = pd.read_csv('data/NASA_Exoplanet_Composite.csv')

dfPlanetary = pd.read_csv('data/NASA_Exoplanet_Planetary.csv', low_memory=False)

To protect the data I will be working with copies of each csv.

In [2]:
Composite = dfComposite.copy()
Planetary = dfPlanetary.copy()

Lets take a look at the data that is available to be used on this project.  Exoplanets have a variety of characterists which NASA has breifly summarized in an animated video. I have a link to this in my readme.  You can also use the video below.  After, the video is a code block that displays each of the csv files.

In [3]:
%%HTML
<iframe width="414" height="250"
 src="https://www.youtube.com/embed/4IXYp9Fse44"
</iframe>

In [4]:
display(Composite)
display(Planetary)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,...,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2,sy_kepmag_reflink,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,2.0,1,2,0,0,0
1,2,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
2,3,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
3,4,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,2,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,4,1,0,0
4,5,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,3,1,...,6.095,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,4,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5478,5479,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5479,5480,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5480,5481,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5481,5482,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,0,0,0,0,0
5482,5483,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,1.0,1,1,0,0,0

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2011-08,23-07-2014,0,1,1,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34946,34947,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,18-09-2014,2007-01,18-09-2014,5,1,10,1,0,0
34947,34948,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,21-08-2014,2004-01,21-08-2014,5,1,10,1,0,0
34948,34949,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0
34949,34950,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0
34950,34951,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,NaN,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0

As you can see there is quite a bit of information in each of these CSV files.  More so in the Planetary csv. So, lets clean it up by keeping the first instance of each planet name.

In [5]:
Planetary = Planetary.drop_duplicates(subset=['pl_name'], keep='first')
display(Planetary)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2011-08,23-07-2014,0,1,1,0,0,0
5,6,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,0,1,1,0,0,0
7,8,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,1,...,NaN,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0
15,16,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,0,3,...,NaN,25-04-2018,1997-07,21-08-2014,5,1,4,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34929,34930,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,09-11-2016,1997-01,10-11-2016,5,1,10,1,0,0
34936,34937,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,03-08-2021,2010-06,03-08-2021,5,1,10,1,0,0
34942,34943,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,20-09-2021,2021-05,20-09-2021,5,1,10,1,0,0
34948,34949,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0
34949,34950,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0

To clean the data further, lets delete any columns that won't be needed for this project.

In [6]:
columns = ['pl_name', 'pul_flag']
Planetary = Planetary[columns] 

columns = ['pl_name', 'pl_letter', 'hd_name', 'gaia_id', 'sy_snum', 'sy_pnum', 'sy_mnum', 'discoverymethod', 'disc_year', 'disc_locale', 'disc_facility', 'disc_telescope' ]
Composite = Composite[columns]

The next step is to merge the two files.  We are concatinating the data

In [9]:
merged_df = pd.concat([Composite, Planetary], ignore_index=True)
merged_df.to_csv('merged.csv', index=False)
merged = pd.read_csv('merged.csv')
merged.head()

,pl_name,pl_letter,hd_name,gaia_id,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,disc_facility,disc_telescope,pul_flag
0,11 Com b,b,HD 107383,Gaia DR2 3946945413106333696,2.0,1.0,0.0,Radial Velocity,2007.0,Ground,Xinglong Station,2.16 m Telescope,NaN
1,11 UMi b,b,HD 136726,Gaia DR2 1696798367260229376,1.0,1.0,0.0,Radial Velocity,2009.0,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,NaN
2,14 And b,b,HD 221345,Gaia DR2 1920113512486282240,1.0,1.0,0.0,Radial Velocity,2008.0,Ground,Okayama Astrophysical Observatory,1.88 m Telescope,NaN
3,14 Her b,b,HD 145675,Gaia DR2 1385293808145621504,1.0,2.0,0.0,Radial Velocity,2002.0,Ground,W. M. Keck Observatory,10 m Keck I Telescope,NaN
4,16 Cyg B b,b,HD 186427,Gaia DR2 2135550755683407232,3.0,1.0,0.0,Radial Velocity,1996.0,Ground,Multiple Observatories,Multiple Telescopes,NaN

As you can see from the output below, there are quite a few planets that we have data for.  However, I want to concentrate on planets with the planetary letters of C, D, and E.  The planetary letters refer to the order of discovery, for example, "a" planets were found first, "b" planets were next and so on.

I will need to make some more changes to the data and filter out everything but the c, d, and e planets.

In [47]:

# would a function be better here? or combine the code into one line??
print(("The number of B planets is:"), (merged_df['pl_letter'].value_counts()['b']))

print(("The number of C planets is:"), (merged_df['pl_letter'].value_counts()['c']))

print(("The number of D planets is:"), (merged_df['pl_letter'].value_counts()['d']))

print(("The number of E planets is:"), (merged_df['pl_letter'].value_counts()['e']))

print(("The number of F planets is:"), (merged_df['pl_letter'].value_counts()['f']))

print(("The number of G planets is:"), (merged_df['pl_letter'].value_counts()['g']))

print(("The number of H planets is:"), (merged_df['pl_letter'].value_counts()['h']))

print(("The number of I planets is:"), (merged_df['pl_letter'].value_counts()['i']))


df_filtered = merged_df[merged_df['pl_letter'] == 'c']
df_filtered2 = merged_df[merged_df['pl_letter'] == 'd']
df_filtered3 = merged_df[merged_df['pl_letter'] == 'e']
display(df_filtered, df_filtered2, df_filtered3)

The number of B planets is: 4074
The number of C planets is: 931
The number of D planets is: 307
The number of E planets is: 112
The number of F planets is: 38
The number of G planets is: 15
The number of H planets is: 5
The number of I planets is: 1

,pl_name,pl_letter,hd_name,gaia_id,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,disc_facility,disc_telescope,pul_flag
10,24 Sex c,c,HD 90043,Gaia DR2 3830897080395058048,1.0,2.0,0.0,Radial Velocity,2010.0,Ground,Lick Observatory,3.0 m C. Donald Shane Telescope,NaN
23,47 UMa c,c,HD 95128,Gaia DR2 777254360337133312,1.0,3.0,0.0,Radial Velocity,2001.0,Ground,Lick Observatory,3.0 m C. Donald Shane Telescope,NaN
28,55 Cnc c,c,HD 75732,Gaia DR2 704967037090946688,2.0,5.0,0.0,Radial Velocity,2004.0,Ground,McDonald Observatory,9.2 m Hobby-Eberly Telescope,NaN
34,61 Vir c,c,HD 115617,Gaia DR2 3507879565090229888,1.0,3.0,0.0,Radial Velocity,2009.0,Ground,Multiple Observatories,Multiple Telescopes,NaN
37,7 CMa c,c,HD 47205,Gaia DR2 2939555954747554176,1.0,2.0,0.0,Radial Velocity,2019.0,Ground,Multiple Observatories,Multiple Telescopes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5454,iot Dra c,c,HD 137759,Gaia DR2 1614731957530945280,1.0,2.0,0.0,Radial Velocity,2022.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
5461,nu Oph c,c,HD 163917,Gaia DR2 4164319171169516160,1.0,2.0,0.0,Radial Velocity,2012.0,Ground,Okayama Astrophysical Observatory,1.88 m Telescope,NaN
5465,pi Men c,c,HD 39091,Gaia DR2 4623036865373793408,1.0,3.0,0.0,Transit,2018.0,Space,Transiting Exoplanet Survey Satellite (TESS),0.1 m TESS Telescope,NaN
5469,rho CrB c,c,HD 143761,Gaia DR2 1323427759184545536,1.0,4.0,0.0,Radial Velocity,2016.0,Ground,Multiple Observatories,Multiple Telescopes,NaN
5479,ups And c,c,HD 9826,Gaia DR2 348020448377061376,2.0,3.0,0.0,Radial Velocity,1999.0,Ground,Multiple Observatories,Multiple Telescopes,NaN

,pl_name,pl_letter,hd_name,gaia_id,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,disc_facility,disc_telescope,pul_flag
24,47 UMa d,d,HD 95128,Gaia DR2 777254360337133312,1.0,3.0,0.0,Radial Velocity,2009.0,Ground,Lick Observatory,3.0 m C. Donald Shane Telescope,NaN
29,55 Cnc d,d,HD 75732,Gaia DR2 704967037090946688,2.0,5.0,0.0,Radial Velocity,2002.0,Ground,Lick Observatory,3.0 m C. Donald Shane Telescope,NaN
35,61 Vir d,d,HD 115617,Gaia DR2 3507879565090229888,1.0,3.0,0.0,Radial Velocity,2009.0,Ground,Multiple Observatories,Multiple Telescopes,NaN
115,CoRoT-7 d,d,NaN,Gaia DR2 3107267177757848576,1.0,3.0,0.0,Radial Velocity,2022.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
124,DMPP-1 d,d,HD 38677,Gaia DR2 3011005587574818432,1.0,4.0,0.0,Radial Velocity,2019.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5421,Wolf 1061 d,d,NaN,Gaia DR2 4330690742322011520,1.0,3.0,0.0,Radial Velocity,2015.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
5436,YZ Cet d,d,NaN,Gaia DR2 2358524597030794112,1.0,3.0,0.0,Radial Velocity,2017.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
5466,pi Men d,d,HD 39091,Gaia DR2 4623036865373793408,1.0,3.0,0.0,Radial Velocity,2022.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
5470,rho CrB d,d,HD 143761,Gaia DR2 1323427759184545536,1.0,4.0,0.0,Radial Velocity,2023.0,Ground,Lowell Observatory,4.3 m Lowell Discovery Telescope,NaN
5480,ups And d,d,HD 9826,Gaia DR2 348020448377061376,2.0,3.0,0.0,Radial Velocity,1999.0,Ground,Multiple Observatories,Multiple Telescopes,NaN

,pl_name,pl_letter,hd_name,gaia_id,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_locale,disc_facility,disc_telescope,pul_flag
30,55 Cnc e,e,HD 75732,Gaia DR2 704967037090946688,2.0,5.0,0.0,Radial Velocity,2004.0,Ground,McDonald Observatory,9.2 m Hobby-Eberly Telescope,NaN
125,DMPP-1 e,e,HD 38677,Gaia DR2 3011005587574818432,1.0,4.0,0.0,Radial Velocity,2019.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
224,GJ 3293 e,e,NaN,Gaia DR2 4893118771316702720,1.0,4.0,0.0,Radial Velocity,2017.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
263,GJ 581 e,e,NaN,Gaia DR2 6322070093095493504,1.0,3.0,0.0,Radial Velocity,2009.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
268,GJ 667 C e,e,NaN,Gaia DR2 5975663354131618304,3.0,5.0,0.0,Radial Velocity,2013.0,Ground,La Silla Observatory,3.6 m ESO Telescope,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5199,TRAPPIST-1 e,e,NaN,Gaia DR2 2635476908753563008,1.0,7.0,0.0,Transit,2017.0,Multiple Locales,Multiple Observatories,Multiple Telescopes,NaN
5229,V1298 Tau e,e,NaN,Gaia DR2 51886335968692480,3.0,4.0,0.0,Transit,2019.0,Space,K2,0.95 m Kepler Telescope,NaN
5352,WASP-47 e,e,NaN,Gaia DR2 2613413008919918976,1.0,4.0,0.0,Transit,2015.0,Space,K2,0.95 m Kepler Telescope,NaN
5471,rho CrB e,e,HD 143761,Gaia DR2 1323427759184545536,1.0,4.0,0.0,Radial Velocity,2023.0,Ground,Lowell Observatory,4.3 m Lowell Discovery Telescope,NaN
5473,tau Cet e,e,HD 10700,Gaia DR2 2452378776434276992,1.0,4.0,0.0,Radial Velocity,2017.0,Ground,Multiple Observatories,Multiple Telescopes,NaN

The csv files did not have the distance from the Earth, so that will be added now.  I will need to append df_filtered by adding a column containing  distance for each planet.

In [ ]:
##  Add column with the light years from earth for each planet.

Now we need to visualize the data in three ways, Tableau will be used for these:
1) show how, where the planet was discovered
2) The facility and the type of telescope that was used
3) The name of the planet and how many light years from earth

In [ ]:
## 1) show how, where the planet was discovered

In [ ]:
## 2) The facility and the type of telescope that was used

In [ ]:
## 3) The name of the planet and how many light years from earth