First we need to import our CSV files

In [2]:
import pandas as pd
import sqlite3 as sql

dfComposite = pd.read_csv('data/NASA_Exoplanet_Composite.csv')
dfPlanetary = pd.read_csv('data/NASA_Exoplanet_Planetary.csv', low_memory=False)

To protect the data I will be working with copies of each csv.

In [4]:

Composite = dfComposite.copy()
Planetary = dfPlanetary.copy()

Lets take a look at the data that is available to be used on this project.

In [5]:
display(Composite)
display(Planetary)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,...,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2,sy_kepmag_reflink,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,2.0,1,2,0,0,0
1,2,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
2,3,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,1,0,0,0
3,4,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,2,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,1,4,1,0,0
4,5,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,3,1,...,6.095,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,4,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5478,5479,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5479,5480,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5480,5481,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,2,3,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,5.0,1,10,1,0,0
5481,5482,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,0.0,0,0,0,0,0
5482,5483,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,NaN,NaN,NaN,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,1.0,1,1,0,0,0

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2011-08,23-07-2014,0,1,1,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34946,34947,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,18-09-2014,2007-01,18-09-2014,5,1,10,1,0,0
34947,34948,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,21-08-2014,2004-01,21-08-2014,5,1,10,1,0,0
34948,34949,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0
34949,34950,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0
34950,34951,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,NaN,14-05-2014,2008-06,14-05-2014,1,1,1,0,0,0

As you can see there is quite a bit of information in each of these CSV files.  More so in the Planetary csv. So, lets clean it up by keeping the first instance of each planet name.

In [6]:
Planetary = Planetary.drop_duplicates(subset=['pl_name'], keep='first')
display(Planetary)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2011-08,23-07-2014,0,1,1,0,0,0
5,6,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,0,1,1,0,0,0
7,8,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,1,...,NaN,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0
15,16,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,0,3,...,NaN,25-04-2018,1997-07,21-08-2014,5,1,4,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34929,34930,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,09-11-2016,1997-01,10-11-2016,5,1,10,1,0,0
34936,34937,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,03-08-2021,2010-06,03-08-2021,5,1,10,1,0,0
34942,34943,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,20-09-2021,2021-05,20-09-2021,5,1,10,1,0,0
34948,34949,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,10-01-2022,2021-12,10-01-2022,0,0,0,0,0,0
34949,34950,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,1,1,1,0,0,0

By deleting the duplicates, the csv files now  have the same number of rows.

In [7]:
Composite.pl_name, Planetary.pl_name

(0         11 Com b
 1         11 UMi b
 2         14 And b
 3         14 Her b
 4       16 Cyg B b
            ...
 5478     ups And b
 5479     ups And c
 5480     ups And d
 5481     ups Leo b
 5482      xi Aql b
 Name: pl_name, Length: 5483, dtype: object,
 0          11 Com b
 2          11 UMi b
 5          14 And b
 7          14 Her b
 15       16 Cyg B b
             ...
 34929     ups And b
 34936     ups And c
 34942     ups And d
 34948     ups Leo b
 34949      xi Aql b
 Name: pl_name, Length: 5483, dtype: object)

To clean the data further, lets delete any columns that won't be needed for this project.

In [ ]:
##Composite.drop(Composite.columns[[ ]], axis=1, inplace=True)
##Planetary.drop(Planetary.columns[[ ]], axis=1, inplace=True)
##display(Composite)
##display(Planetary)

OR

##2) keep the columns that I will need.
df = df.loc[:, ['pl_name','pl_location, ']]

The next step is to merge the two files.  I have chosen to merge them on the planet name column.

In [ ]:
merged_df = pd.merge(Composite, Planetary, on='pl_name', how="left")
##print(merged_df)
merged_df.to_csv('Astronomy.csv', index=False)
##ToDisplay = merged_df.to_csv( 'Astronomy.csv', index=False)
##(ToDisplay) 
display(merged_df)

I want to concentrate on planets with the classes C, D, and E. To acheive this I will make some more changes to the data.

In [ ]:
## 1) select planet types C, D and E.
%%sql

SELECT * FROM (Astronomy.csv)
WHERE pl_letter_x = "c", "d", "e";

#add count for each

The csv files did not have the distance from the Earth, so that will be added now.

In [ ]:
##  Add column with the light years from earth for each planet.

Now we need to visualize the data in three ways, Tableau will be used for these:
1) show how, where the planet was discovered
2) The facility and the type of telescope that was used
3) The name of the planet and how many light years from earth

In [ ]:
## 1) show how, where the planet was discovered

In [ ]:
## 2) The facility and the type of telescope that was used

In [ ]:
## 3) The name of the planet and how many light years from earth